In [27]:
import pandas as pd

cars = {
    'brand': ['BMW', 'Volvo', 'Mercedes Benz'],
    'year': [2001, 2031, 2012]
}

In [15]:
print(pd.__version__)

2.2.3

In [43]:
car_frame = pd.DataFrame(cars)
car_frame

           brand  year
0            BMW  2001
1          Volvo  2031
2  Mercedes Benz  2012

In [30]:
car_series = pd.Series(cars)
car_series

brand    [BMW, Volvo, Mercedes Benz]
year              [2001, 2031, 2012]
dtype: object

In [38]:
car_series[0]

/tmp/ipykernel_839334/2658271793.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  car_series[0]

['BMW', 'Volvo', 'Mercedes Benz']

In [39]:
cars['brand'][0]

'BMW'

In [45]:
car_frame[0]

KeyError: 0

In [46]:
cars[0]

KeyError: 0

In [55]:
car_series_with_label = pd.Series(cars, index=['brand', 'year'])
car_series_with_label

brand    [BMW, Volvo, Mercedes Benz]
year              [2001, 2031, 2012]
dtype: object

In [69]:
a = ['hello', 'world', '!']
test = pd.Series(a)
test

0    hello
1    world
2        !
dtype: object

In [71]:
test_2 = pd.Series(a, index=['x','y','z'])
test_2

x    hello
y    world
z        !
dtype: object

In [88]:
import pandas as pd

calories = {"day1": [420, 110], "day2": 380, "day3": 390}

calories_series = pd.Series(calories, index=['day1', 'day3'])
calories_series

day1    [420, 110]
day3           390
dtype: object

In [89]:
calories_series[0]

/tmp/ipykernel_839334/3974265238.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  calories_series[0]

[420, 110]

In [90]:
calories_series.loc['day1']

[420, 110]

In [98]:
calories_series[[0, 1]]

/tmp/ipykernel_839334/4159269047.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  calories_series[[0, 1]]

day1    [420, 110]
day3           390
dtype: object

In [102]:
calories_series['day3']

390

In [121]:
data_sample = pd.read_csv('../data/data.csv')
# data_sample.to_string()
data_sample

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [141]:
pd.options.display.max_columns
pd.options.display.max_rows = 60  # Set a new value
pd.options.display.max_rows

60

In [149]:
data_json = pd.read_json('../data/data_json')
data_json

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [160]:
data_json.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.5
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [162]:
data_json.info()

<class 'pandas.core.frame.DataFrame'>
Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB

In [169]:
data_json.dropna()  # removes rows which have empty fields/cells
# it will return a new dataframe and does not change the original df
# use dropna(inplace=True) for that matter

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [170]:
data_json

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [174]:
data_json.fillna(17000)  # replaces null values with given value in empty cells

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.4
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [176]:
data_json['Pulse'].fillna(130)  # fill the value of empty cells in specified column

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [183]:
mean_calories = data_json['Calories'].mean()
# mean_calories

data_json['Calories'].fillna(mean_calories)

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.4
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64

In [188]:
data_json['Calories'] = pd.to_numeric(data_json['Calories'])

In [198]:
data_json.loc[5, 'Calories'] = 1254
data_json.loc[2, 'Pulse'] = 124
data_json

     Duration Pulse  Maxpulse  Calories  (Calories, 5)
0          60   110       130     409.1           1254
1          60   117       145     479.0           1254
2          60   124       135     340.0           1254
3          45   109       175     282.4           1254
4          45   117       148     406.0           1254
..        ...   ...       ...       ...            ...
164        60   105       140     290.8           1254
165        60   110       145     300.4           1254
166        60   115       145     310.2           1254
167        75   120       150     320.4           1254
168        75   125       150     330.4           1254

[169 rows x 5 columns]

In [202]:
for x in data_json.index:
    if data_json.loc[x, 'Pulse'] > 110:
        data_json.loc[x, 'Pulse'] = 120

data_json

     Duration Pulse  Maxpulse  Calories  (Calories, 5)
0          60   110       130     409.1           1254
1          60   120       145     479.0           1254
2          60   120       135     340.0           1254
3          45   109       175     282.4           1254
4          45   120       148     406.0           1254
..        ...   ...       ...       ...            ...
164        60   105       140     290.8           1254
165        60   110       145     300.4           1254
166        60   120       145     310.2           1254
167        75   120       150     320.4           1254
168        75   120       150     330.4           1254

[169 rows x 5 columns]

In [208]:
for y in data_json.index:
    if data_json.loc[y, 'Pulse'] > 110:
        data_json.drop(y, inplace=True)

data_json

     Duration Pulse  Maxpulse  Calories  (Calories, 5)
0          60   110       130     409.1           1254
3          45   109       175     282.4           1254
5          60   102       127    1254.0           1254
6          60   110       136     374.0           1254
7          45   104       134     253.3           1254
..        ...   ...       ...       ...            ...
161        45    90       130     260.4           1254
162        45    95       130     270.0           1254
163        45   100       140     280.9           1254
164        60   105       140     290.8           1254
165        60   110       145     300.4           1254

[122 rows x 5 columns]

In [210]:
data_json.duplicated()

0      False
3      False
5      False
6      False
7      False
       ...
161    False
162    False
163    False
164    False
165    False
Length: 122, dtype: bool

In [216]:
data_json.drop_duplicates(inplace=True)
data_json.duplicated()

0      False
3      False
5      False
6      False
7      False
       ...
161    False
162    False
163    False
164    False
165    False
Length: 118, dtype: bool

In [260]:
data_json.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories', ('Calories', 5)], dtype='object')

In [269]:
data_json = data_json.drop(('Calories', 5), axis=1)

KeyError: "[('Calories', 5)] not found in axis"

In [270]:
data_json

     Duration Pulse  Maxpulse  Calories
0          60   110       130     409.1
3          45   109       175     282.4
5          60   102       127    1254.0
6          60   110       136     374.0
7          45   104       134     253.3
..        ...   ...       ...       ...
161        45    90       130     260.4
162        45    95       130     270.0
163        45   100       140     280.9
164        60   105       140     290.8
165        60   110       145     300.4

[118 rows x 4 columns]

In [272]:
data_json.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000  0.083578  0.207974  0.902303
Pulse     0.083578  1.000000  0.684731  0.151744
Maxpulse  0.207974  0.684731  1.000000  0.291696
Calories  0.902303  0.151744  0.291696  1.000000

In [282]:
data_json.loc[0]

Duration       60
Pulse         110
Maxpulse      130
Calories    409.1
Name: 0, dtype: object